<dcb>
  <sect col="0">
    <dot class="material-icons clear">lens</dot>
    <dot class="material-icons clear">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[0] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[1] == 1">lens</dot>
  </sect>
  <sect col="1">
    <dot class="material-icons" [class.selected]="timePrint[2] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[3] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[4] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[5] == 1">lens</dot>
  </sect>
  <sect col="2">
    <dot class="material-icons clear">lens</dot>
    <dot class="material-icons clear">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[6] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[7] == 1">lens</dot>
  </sect>
  <sect col="3">
    <dot class="material-icons" [class.selected]="timePrint[8] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[9] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[10] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[11] == 1">lens</dot>
  </sect>
  <sect col="4">
    <dot class="material-icons clear">lens</dot>
    <dot class="material-icons clear">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[12] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[13] == 1">lens</dot>
  </sect>
  <sect col="5">
    <dot class="material-icons" [class.selected]="timePrint[14] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[15] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[16] == 1">lens</dot>
    <dot class="material-icons" [class.selected]="timePrint[17] == 1">lens</dot>
  </sect>
</dcb>