:host {
  dcb {
    z-index: -2;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    width: 90px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  sect {
    height: 38px;
    display: flex;
    flex-direction: column;
    flex: auto;
  }
  dot.clear {
    color: transparent;
  }
  dot {
    text-align: center;
    line-height: 1;
    color: rgba(138, 138, 138, 0.1);
    font-size: 6px;
    height: calc(100% / 4);
  }
  dot.selected {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 10px #fff;
  }
}
